# -------  COMMON ENV ----------
LOG_LEVEL=INFO  # Log level setting
SLACK_WEBHOOK_URL=https://hooks.slack.com/webhookslackurl

# --------- AWS ENV ------------
REGIONS=ap-northeast-2         # aws regions. ex) ap-northeast-1,ap-northeast-2
AWS_ACCOUNTS=0000000000         # aws Account. ex) 229930918337,229930918337

# --------- TAG ENV ------------
REQUIRED_TAGS=User,Team,Name,Service,Application,Role,Environment
OPTIONAL_TAGS=
RULE_USER=^.+$
RULE_TEAM=^\d+$
RULE_NAME=^[a-zA-Z0-9_.\-/+() ]+$
RULE_ROLE=^[a-zA-Z0-9_\-+, ]+$
RULE_ENVIRONMENT=^(PROD|STG|DEV|TEST|QA)$


# --------- CloudFlare ------------
CLOUDFLARE_EMAIL=cruiser594@gmail.com     # Account Login Email
CLOUDFLARE_API_TOKEN=tokentokentoken        # Account Token(Account Level)
CLOUDFLARE_ACCOUNTS=account_name       # Account (NAME)
CLOUDFLARE_ZONES=zone_name             # HOSTZONE (NAME)


# --------- SSH ------------
SSH_KEY_DIR=~/your_key_dir               # defualt keyfile directory path
SSH_CONFIG_FILE=~/.ssh/config       # ~/.ssh/config file path
SSH_MAX_WORKER=70                   # worker number
PORT_OPEN_TIMEOUT=0.5               # port scan(SSH) timeout (Seconds)
SSH_TIMEOUT=5                      # SSH Connection timeout (Seconds)
