# -------  COMMON ENV ----------
LOG_LEVEL=DEBUG  # Log level setting
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/0000000000000000/0000000000000000/0000000000000000

# --------- AWS ENV ------------
REGIONS=ap-northeast-1         # aws regions. ex) ap-northeast-1,ap-northeast-2
AWS_ACCOUNTS=229930918337         # aws Account. ex) 222222222222, 22222222222

# --------- TAG ENV ------------
REQUIRED_TAGS=User,CreateBy,Team,TeamName,Name,Service,Application,Role,Environment
OPTIONAL_TAGS=Env
RULE_USER=^.+$
RULE_TEAM=^\d+$
RULE_NAME=^[a-zA-Z0-9_.\-/+() ]+$
RULE_ROLE=^[a-zA-Z0-9_\-+, ]+$
RULE_ENVIRONMENT=^(PROD|STG|DEV|TEST|QA)$


# --------- CloudFlare ------------
CLOUDFLARE_EMAIL=sykim@parametacorp.com     # Account Login Email
CLOUDFLARE_API_TOKEN=tokentokentoken        # Account Token(Account Level)
CLOUDFLARE_ACCOUNTS=supercycl,thenexa       # Account (NAME)
CLOUDFLARE_ZONES=supercycl,taas             # HOSTZONE (NAME)


# --------- OCI ------------
OCI_CONFIG_PATH=~/.oci/config               # OCI config 파일 경로
SHOW_EMPTY_COMPARTMENTS=false               # 빈 컴파트먼트 표시 여부


# --------- SSH ------------
SSH_KEY_DIR=~/aws-key               # 기본 키파일 디렉토리
SSH_CONFIG_FILE=~/.ssh/config       # ~/.ssh/config 경로 (커스텀일 수 있음)
SSH_MAX_WORKER=70                   # 병렬 스캔 스레드 수
PORT_OPEN_TIMEOUT=0.5               # 포트스캔 timeout
SSH_TIMEOUT=5                      # SSH 접속 timeout
