# Cloud SDKs
boto3
oci
requests
kubernetes

# Google Cloud SDKs
google-cloud-compute
google-cloud-container
google-cloud-storage
# google-cloud-sql
google-cloud-functions
google-cloud-run
google-cloud-billing
google-cloud-resource-manager
google-auth
google-auth-oauthlib
google-auth-httplib2

# Azure SDKs
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-containerinstance
azure-mgmt-containerservice
azure-mgmt-storage
azure-mgmt-sql
azure-mgmt-rdbms
azure-mgmt-eventhub
azure-mgmt-resource
azure-mgmt-subscription
azure-devops

# SSH
paramiko

# CLI User Interface
rich
InquirerPy
tqdm

# Utilities
python-dotenv
python-dateutil
PyYAML