# OCI 기본
OCI_PROFILE=DEFAULT          # ~/.oci/config 프로필 (생략 시 DEFAULT)
OCI_REGION=ap-seoul-1        # 선택: config 에 없거나 override 하고 싶을 때

# 대상 식별자
COMPARTMENT_OCID=ocid1.compartment.oc1..aaaaaa        		# Compartment ID
VCN_OCID=ocid1.vcn.oc1.ap-seoul-1.amaaaaa			# VCN ID
NSG_NAME=cf-edge-nsg          # 실제 리소스 이름
NSG_DISPLAY_NAME=Cloudflare-Edge-NSG  # 콘솔에 보일 DisplayName

# 네트워크 옵션
TCP_STATELESS=false           # true 로 바꾸면 Stateless 룰 생성
